@{
  ViewData["Title"] = "Layout";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GRUPO MILBR</title>

  @* LINKS *@
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="~/css/puro/default.css">   
  <link rel="stylesheet" href="~/css/puro/processos.css"> <!-- ÁREAS DE ATUAÇÃO -->
  <link rel="stylesheet" href="~/css/puro/sobre.css">     <!-- SOBRE NÓS-->
  <link rel="stylesheet" href="~/css/puro/planos.css">    <!-- PLANOS -->
  <link rel="stylesheet" href="~/css/puro/index.css">     <!-- HOME -->
  <!--- AOS --->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

  @* LEGADOS *@
  <link rel="stylesheet" href="~/css/puro/promocoes.css"> <!-- PROMOÇÕES ANTIGAS -->
  <link rel="stylesheet" href="~/css/puro/links.css">     <!-- LINKS ÚTEIS AO USUÁRIO -->

  @* IMPORTS *@
  <!--- Open Sans import ---->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
  <body>
    @* CABEÇALHO DA PÁGINA *@
    
    <header>
      <div id="cabecalho-milbr">
        @* CABEÇALHO DE CIMA QUE CONTÉM AS INFORMAÇÕES DE CONTATO *@
        <div id="cabecalho-milbr-responsividade-agente">
          <div class="cabecalho-informacoes-contato">
            <div style="padding-left: 20px;"><img src="~/img/socialmedia/iconesIndex/iconesUteis.png" alt="cabecalho-informacoes-contato-logo-usuario" draggable="false"><a href="/Legacy/linksUteis">Links úteis</a></div>
            <div></div>
            <div><img src="~/img/socialmedia/trabalheConosco.svg" alt="cabecalho-informacoes-trabalhe-conosco" draggable="false"><a href="http://milbr.com.br/curriculos">Trabalhe conosco</a></div>
            <div><img src="~/img/socialmedia/sacLogo.png" alt="cabecalho-informacoes-contato-logo-sac" draggable="false"><h3>sac@grupomilbr.com.br</h3></div>
            <div><img src="~/img/socialmedia/iconesIndex/telefone.png" alt="cabecalho-informacoes-contato-logo-telefone-sac" draggable="false"><h3>0800 031 3571</h3></div>
            <div><img src="~/img/socialmedia/whatsLogo.png" alt="cabecalho-informacoes-contato-logo-whatsapp" draggable="false"><a href="https://web.whatsapp.com/send?phone=553535715000">35 3571-5000</a></div>
            <div id="cabecalho-informacoes-contato-redes-sociais">
              <div id="cabecalho-informacoes-contato-link-individual">
                <div id="cabecalho-informacoes-contato-facebook"><a href="https://www.facebook.com/Milbrnet/"><img src="~/img/socialmedia/facebook.png" alt="cabecalho-informacoes-contato-facebook-icon" draggable="false"></a></div>
                <div id="cabecalho-informacoes-contato-instagram"><a href="https://www.instagram.com/milbrnet/"><img src="~/img/socialmedia/instagram.png" alt="cabecalho-informacoes-contato-instagram-icon" draggable="false"></a></div>
                <div id="cabecalho-informacoes-contato-youtube"><a href="https://www.youtube.com/@@milbr5068"><img src="~/img/socialmedia/youtube.png" alt="cabecalho-informacoes-contato-youtube-icon" draggable="false"></a></div>
              </div>
            </div>
          </div>
        </div>

        @* CABEÇALHO DE BAIXO QUE CONTÉM AS LOGOS E LINKS DIRETOS DE ACESSO *@
        <div id="cabecalho-ux-acesso-links-diretos-de-acesso-responsividade-agente">
            <div class="cabecalho-ux-acesso-links-diretos-de-acesso">
              @* logos milbr *@
              <div id="cabecalho-ux-acesso-links-diretos-de-acesso-logos">
                <a href="/index"><img src="~/img/logos/milbr.png" alt="cabecalho-ux-acesso-links-diretos-de-acesso-logos-milbrnet" draggable="false"></a>
                <a href="/processos#aside-milbr-td-telefonia-vantagens-titulo"><img src="~/img/logos/milbrtd.png" alt="cabecalho-ux-acesso-links-diretos-de-acesso-logos-milbrtd" draggable="false"></a>
                <a href="https://play.google.com/store/apps/details?id=br.com.milbrtv4&pcampaignid=web_share"><img src="~/img/logos/milbrtv.png" alt="cabecalho-ux-acesso-links-diretos-de-acesso-logos-milbrtv" draggable="false"></a>
              </div>

              @* Navegação da página *@
              <div id="cabecalho-ux-acesso-links-diretos-de-acesso-clicaveis">
                <div><a href="@ViewData["link1"]">@ViewData["campo1"]</a></div>
                <div><a href="@ViewData["link2"]">@ViewData["campo2"]</a></div>
                <div><a href="@ViewData["link3"]">@ViewData["campo3"]</a></div>
                <div><a href="@ViewData["link4"]">@ViewData["campo4"]</a></div>
                <div><a href="@ViewData["link5"]">@ViewData["campo5"]</a></div>
              </div>
          </div>
        </div>
        
      </div>
    </header>


    @* ONDE CARREGA O CONTEUDO PRINCIPAL DE CADA LINK *@
    <main>
      @RenderBody()

      <div class="float-nav-top">
        <a href="#cabecalho-ux-acesso-links-diretos-de-acesso-responsividade-agente">
          <i class='bx bxs-up-arrow'></i>
        </a>
      </div>

      <div class="shake" id="tremor">
        <a href="#cabecalho-ux-acesso-links-diretos-de-acesso-responsividade-agente">
          <a href="https://web.whatsapp.com/send?phone=553535715000&text=Ol%C3%A1,%20eu%20vim%20pelo%20site.%20Quais%20s%C3%A3o%20os%20planos%20ofertados%20pela%20Milbr%3F%20%F0%9F%98%8A"><i class='bx bxl-whatsapp' ></i></a>
        </a>
      </div>
    </main>
    
    @* +--------------------------------- footer -----------------------------------------+ *@
    <footer>
      @* PARTE DE CIMA *@
      <div id="footer-responsividade-cima">

      </div>


      @* PARTE DE BAIXO *@
      <div id="footer-responsividade-baixo">

      </div>
    </footer>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!--- Icons --->
    <script src="js/perguntas.js"></script>
    <script src="js/links.js"></script>
    <script src="js/whatsapp.js"></script>

    <!---- AOS IMPORT --->
    <script>
      AOS.init({
        once: true, // A animação acontece só uma vez
        duration: 800 // Duração da animação em ms
      });
    </script>

  </body>
</html>
